{% extends 'customers/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row mt-5 justify-content-center" >
        <div class="col-md-8 col-sm-12 text-center offset-md-1 p-4 ">
            <h2 id="welcome">Welcome to eGrub</h2>
        </div>
    </div>

    <div class="row justify-content-center mt-1">
        <div class="card col-md-5 col-sm-12 text-center offset-md-1 p-4 rounded shadow p-3">
            <h4 id="ready">Ready to Order?</h4>
            <button class="btn btn-outline-primary">Order Now</button>
        </div>
    </div>
</div>

{% endblock content %}