{% extends 'customers/base.html' %}

{% block content %}
<div class="container card">
    <div class="row mt-5 justify-content-center">
        <div class="col-sm-12 col-md-6 text-center">
            <h2>Welcome To Our Menu</h2>
        </div>
    </div>

    <div class="row mt-5 justify-content-center">
        <div class="col-sm-12 col-md-8 text-center">
            <!--Search form to scan through menu items-->
            <form method="GET" action="{% url 'search-menu-list' %}">
                <div class="mb-5">
                    <input class="form-control" type=text name="query" placeholder="Search Our Menu" value="{{ request.GET.q}}">
                </div>
            </form>
        </div>
    </div>

    <div class="row justify-content-center">
        <!--Loop through all menu items in the variable 'menu_items'-->
        {% for item in menu_items %}
        <div class="col-sm-12 col-md-4 mb-5 text-center">
            <img class="rounded" src="{{ item.image.url }}" width="250" height="250" alt="menu list items">
            <h5 class="mt-5">{{ item.name}}</h5>
            <p>Price: {{ item.price }}</p>
            <p>{{ item.description }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}