{% extends 'customers/base.html' %}

{% block content %}
<div class="container mb-5 mt-5 card rounded shadow">
    <div class="row justify-content-center mt-1">
        <div class="col-sm-12 col-md-12 p-4">
            <form method="POST">
                {% csrf_token %}

                <!-- Container for appetisers section -->
                <div class="pt-5">
                    {% for appetiser in appetisers %}
                    <div class="row">
                        <div class="col-sm-12 col-md-2">
                            <img src="{{ appetiser.image.url }}" class="rounded" width="200" height="200" alt="appetisers"/>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <div class="flex-row d-flex ">
                                <div class="form-check form-group">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ appetiser.pk }}">
                                    <label class="form-check-label">{{ appetiser.name }}</label>
                                </div>
                                <p class="pl-5 font-weight-bold">£ {{ appetiser.price }}</p>
                            </div>
                            <p>{{ appetiser.description }}</p>
                        </div>
                    </div>
                    <hr />
                {% endfor %}
                </div>

                <!-- Container for entres section -->
                <div class="pt-5">
                    {% for entre in entres %}
                    <div class="row mt-4">
                        <div class="col-sm-12 col-md-2">
                            <img src="{{ entre.image.url }}" class="rounded" width="200" height="200" alt="entres"/>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <div class="flex-row d-flex">
                                <div class="form-check form-group">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ entre.pk }}">
                                    <label class="form-check-label">{{ entre.name }}</label>
                                </div>
                                <p class="pl-5 font-weight-bold">£ {{ entre.price }}</p>
                            </div>
                            <p>{{ entre.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>

                <!-- Container for drinks section -->
                <div class="pt-5">
                    {% for drink in drinks %}
                    <div class="row mt-4">
                        <div class="col-sm-12 col-md-2">
                            <img src="{{ drink.image.url }}" class="rounded" width="200" height="200" alt="drinks"/>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <div class="flex-row d-flex">
                                <div class="form-check form-group">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ drink.pk }}">
                                    <label class="form-check-label">{{ drink.name }}</label>
                                </div>
                                <p class="pl-5 font-weight-bold">£ {{ drink.price }}</p>
                            </div>
                            <p>{{ drink.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>

                <!-- Container for sauces section -->
                <div class="pt-5">
                    {% for sauce in sauces %}
                    <div class="row mt-4">
                        <div class="col-sm-12 col-md-2">
                            <img src="{{ sauce.image.url }}" class="rounded" width="200" height="200" alt="sauces"/>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <div class="flex-row d-flex">
                                <div class="form-check form-group">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ sauce.pk }}">
                                    <label class="form-check-label">{{ sauce.name }}</label>
                                </div>
                                <p class="pl-5 font-weight-bold">£ {{ sauce.price }}</p>
                            </div>
                            <p>{{ sauce.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>

                <!-- Input fields to allow the user to add order details -->
                <div class="pt-3 form-group">
                    <label for="name">Full Name</label>
                    <input type="text" name="name" placeholder="Your Name" class="form-control" required>
                </div>

                <div class="pt-3 form-group">
                    <label for="name">Email</label>
                    <input type="text" name="email_address" placeholder="example@gmail.com" class="form-control" required>
                </div>

                <div class="pt-3 form-group">
                    <label for="name">Address</label>
                    <input type="text" name="street_name" placeholder="1 Main St" class="form-control" required>
                </div>

                <div class="row">
                    <div >
                        <div class="pt-3 form-group">
                            <label for="name">City</label>
                            <input type="text" name="city" placeholder="London" class="form-control" required>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-4">
                        <div class="pt-3 form-group">
                            <label for="name">County</label>
                            <input type="text" name="county" placeholder="London" class="form-control" required>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-4">
                        <div class="pt-3 form-group">
                            <label for="name">Post Code</label>
                            <input type="text" name="post_code" placeholder="PO1" class="form-control" required>
                        </div>
                    </div>  
                </div>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-primary mt-2 mb-2 ml-5" data-toggle="modal" data-target="#submitModal">
                    Submit Order?
                </button>

                <!-- Modal -->
                <div class="modal fade" id="submitModal" tabindex="-1" aria-labelledby="submitModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="submitModalLabel">Submit Your Order?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Exit</button>
                        <button type="submit" class="btn btn-outline-primary">Place Order</button>
                        </div>
                    </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}